<div class="main-content scroll-container">
  <div class="content-header">Star Wars</div>
  <div *ngIf="loading" class="loader"></div>
  <div [hidden]="loading" class="content scroll-container">
    <div class="scroll-container container">
      <form [formGroup]="starWarsSearchForm">
        <mat-form-field class="form-elevation" appearance="fill">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="getTableData(search.value)"
            formControlName="searchControl"
            #search
            placeholder="Search for name"
          />
          <mat-icon *ngIf="!search.value" matSuffix>search</mat-icon>
          <mat-icon
            *ngIf="search.value"
            class="clickable-icon"
            (click)="clearSearch()"
            matSuffix
            >clear
          </mat-icon>
        </mat-form-field>
      </form>

      <div
        class="elevation"
        [hidden]="
          noItemsFound || searchLoading || staWarsItemsArray.length == 0
        "
      >
        <div class="table-height scroll-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="scroll-container"
            matSort
          >
            <ng-container matColumnDef="name">
              <th
                style="width: 50%"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
              >
                Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.name || "---" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="height">
              <th
                style="width: 25%"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
              >
                Height
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.height || "---" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="birth_year">
              <th
                style="width: 25%"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
              >
                Birth year
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.birth_year || "---" }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: 0"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns; let i = index"
            ></tr>
          </table>
        </div>
        <mat-paginator
          class="content-background"
          [pageSizeOptions]="[5, 10, 20]"
          pageSize="5"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>

      <div *ngIf="searchLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngIf="noItemsFound && !searchLoading" class="no-result-image"></div>
    </div>
  </div>
</div>
